* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
    --cellSize: 10rem;
    --gridSize: 50rem;
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

}

.grid-container {
    /* border: .2px solid; */
    margin: 1rem;
    max-width: var(--gridSize);
    height: var(--gridSize);
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--cellSize));
    grid-template-rows: repeat(auto-fill, var(--cellSize));
    row-gap: 1rem;
    column-gap: 1rem;
}

.cell {
    width: var(--cellSize);
    height: var(--cellSize);
    background-color: lightgray;
    border: .2rem solid;
    border-radius: .5rem;
}